<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>224326112488-q0tu4uiehlf5vvkgqvvq7i2frtd3j431.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.224326112488-q0tu4uiehlf5vvkgqvvq7i2frtd3j431</string>
        </array>
      </dict>
    </array>

<!--	<key></key>-->
<!--	<string></string>-->
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
		<key>NSSupportsLiveActivities</key>
		<string></string>
		<key>New item</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
	</dict>
</dict>
</plist>
